# But still ignore these even if they're in allowed folders
node_modules/
node_modules/**
source-images/
source-images/**
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
package-lock.json
server.js
summary-card-generator-images.html
process.py